@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=PT+Sans&display=swap');

:root {
    --third-section-header-color: #fff;
    background-color: black;
    --paragraph-color: rgb(180,180,180);
    --date-paragraph-color: #f4c524;
}

.third-section-header {
    font-family: 'Crimson Pro', serif;
    color: var(--third-section-header-color);
}

p {
    color: var(--paragraph-color);
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

.date {
    color: var(--date-paragraph-color);
}

.btn {
    text-decoration:none;
    color: var(--third-section-header-color);
    font-family: 'Crimson Pro', serif;
    background-color: var(--date-paragraph-color) ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    font-weight: 500;
}

.btn:hover {
    color: black;
    background-color: var(--third-section-header-color);
}

@media (min-width: 768px) and (max-width: 991px) {
    
}