.simplicity-img {
    display: block;
    width: 100%;
    max-width: 630px;
    max-height: 410px;
    
}


.simplicity{
padding: 58px;
max-width: 1100px;
margin
}

.simplicity-only-text {
    display: block;
    padding: 39px 10px 39px 0px;
}