.third-section-small-header {
    font-size: 32px;
    font-family: 'Crimson Pro', serif;
    color: var(--third-section-header-color);
}

.date{
    font-size: 15px;
}

.super-power-img {
    width: 630px;
    height: 410px;
}

.super-power{
padding: 58px;
}

.super-power-only-text {
    display: block;
    padding: 39px 140px 39px 0px;
}